@page
@using Microsoft.Extensions.Localization
@using EZCode.ProductService.Localization
@using EZCode.ProductService.Web.Pages.ProductService
@model EZCode.ProductService.Web.Pages.ProductService.IndexModel
@inject IStringLocalizer<ProductServiceResource> L

@{
}
<h1>ProductService</h1>
<p>@L["SamplePageMessage"]</p>
