@page "/ProductService"
@using Microsoft.Extensions.Localization
@using global::EZCode.ProductService.Localization
@inject IStringLocalizer<ProductServiceResource> L
@{
}
<h1>ProductService</h1>
<p>@L["SamplePageMessage"]</p>